.selected {
	border-color: #2D87E0;
	animation-name: pulsing-color;
	animation-duration: 1s; 
	animation-timing-function: ease-out; 
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}

@keyframes pulsing-color {
	0% {
		border-color: rgba(45, 135, 224, 1);
	}
	100% {
		border-color: rgba(45, 135, 224, 0.3);
	}
}